.header-container {
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo-link {
    text-decoration: none;
}

.header-logo-image {
    height: 100px;
    margin-right: 15px;
}

.header-texts {
    margin:0 5px;
}

.header-title {
    font-size: 25px;
    margin: 0;
}

.header-nav {
    margin-left: auto;
}

.header-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #00796b;
    font-weight: 500;
}

.header-nav a:hover {
    color: #004d40;
}

.register {
    padding: 10px 20px;
    border-style:solid;
    border-color: black;
    background-color: white;
}

.login {
    padding: 10px 40px;
    border-style:solid;
    border-color: black;
    background-color: black;
    border-radius: 5px;
}